body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 121, 103, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
}

h1 {
  margin: 0;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  text-decoration: underline;
}

.input {
  border: 1px solid #333;
  border-radius: 0.3em;
  padding: 0.25rem;
  width: 7em;
  font-family: "Montserrat", sans-serif;
}

select {
  border: 1px solid #333;
  margin-left: 0.5rem;
  border-radius: 0.3em;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  padding: 0.25rem;
}

select:hover {
  color: #e2852e;
}
.equals {
  font-weight: bold;
  font-size: 2rem;
  font-family: "Montserrat", sans-serif;
}
